annotated-types==0.7.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
coverage==7.6.7
flake8==7.1.1
idna==3.10
iniconfig==2.0.0
mccabe==0.7.0
mypy-extensions==1.0.0
-e git+https://github.com/andrextor/P2PCheckout.git@f098c25aba2bb41f2e248be9da011e4559ea4c08#egg=p2p_checkout
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
pluggy==1.5.0
pycodestyle==2.12.1
pydantic==2.10.0
pydantic_core==2.27.0
pyflakes==3.2.0
pytest==8.3.3
requests==2.32.3
setuptools==75.6.0
typing_extensions==4.12.2
urllib3==2.2.3
