annotated-types==0.7.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
coverage==7.6.7
flake8==7.1.1
idna==3.10
iniconfig==2.0.0
mccabe==0.7.0
mypy-extensions==1.0.0
-e git+https://github.com/andrextor/P2PCheckout.git@a1b33b9e810a608b4315bc0e049d4d9d0035202c#egg=p2p_checkout
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
pluggy==1.5.0
pycodestyle==2.12.1
pydantic==2.10.0
pydantic_core==2.27.0
pyflakes==3.2.0
pytest==8.3.3
pytest-cov==6.0.0
python-dotenv==1.0.1
requests==2.32.3
setuptools==75.6.0
typing_extensions==4.12.2
urllib3==2.2.3
